version: "3.9"

services:

  mongo:
    image: mongo:6
    container_name: blog_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: blog_backend
    restart: always
    depends_on:
      - mongo
    environment:
      MONGO_URL: "mongodb://mongo:27017/"
    ports:
      - "8000:8000"

  frontend:
    image: nginx:latest
    container_name: blog_frontend
    restart: always
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    ports:
      - "8080:80"

volumes:
  mongo_data:
